<div class="mdui-appbar">
  <div class="mdui-toolbar mdui-color-theme">
    <a href="/" class="mdui-typo-headline">七夕泥工具箱</a>
    <a href="/" class="mdui-typo-title">CSV转PPT</a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon">
      <i class="mdui-icon material-icons">search</i>
    </a>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon">
      <i class="mdui-icon material-icons">refresh</i>
    </a>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon">
      <i class="mdui-icon material-icons">more_vert</i>
    </a>
  </div>
</div>